@external .renderer;
.renderer
{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

.renderer canvas
{
    cursor: default;
}

.renderer canvas:focus
{
    outline: none;
}
